.git
plugged/
plugged_bak/
autoload/
spell/
sessions/
__Tagbar__*
notes/vimdump-*
notes/*
.metals/*
scratch/
utils/rescript_vscode/
notes/*-bk
notes/test*
tags
.DS_Store
.luarc.json
.vim_mru_files
r_buffer_range.sh
startup.log
.luarc_bak
openai_key.txt

# Completely ignore rcmd directory
rcmd/
rcmd/**/*

.aider*
.env

keymaps/vim-cheat-sheet_2025-05.md
